<div role="form">
<h1 class="" > Welcome to Interview Bot App</h1>
<div class="longText"  id="NOThidingScrollBar">
<h3>Basic Instruction</h3>

<ol>
    <li>
            Should be used HD webcam. 
    </li>
    <li>
            Headphone is necessary for the clear voice. 
    </li>
    <li>
            Per Question will take 1 minute, you have to give your answer in that period. 
    </li>
    <li>
            Negative activity or any other extra activity will cancel your interview. 
    </li>
    <li>
            Candidate have to put their face in front of camera. 
    </li>
    <li>
            Background must -be clear that no disturbance will capture. 
    </li>
    <li>
            Candidate have to sit in front of camera with proper dressing without moving their head. 
    </li>
    <li>
            Candidate should be alone in room while giving the interview because of disturbance or noisy area. 
    </li>
    <li>
            Face Verification will be done in every Question Candidate should be authenticating their self.
    </li>
</ol>
</div>
<button  color="accent" [routerLink]="['/Interview']" class="start-button">GET STARTED</button>
</div>