<div class="content ">
    <!-- Left col -->
     <div class="box box-info">
    <div class="box-header">
      <i class="fa fa-envelope"></i>

      <h3 class="box-title">Applicant List</h3>
      <!-- tools box -->
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                title="Remove">
          <i class="fa fa-times"></i></button>
      </div>
      <!-- /. tools -->
    </div>
    <div class="box-body">

<div class="drive-wrapper drive-grid-view">
    <div class="grid-items-wrapper">
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Zain Ur Rehman</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar2.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Ghazi Akber</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Zohaib Ansari</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Haziq Bin Ayub</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar2.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Bilal Mustafa</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Shakir Malik</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar2.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Sara Ahmed</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar3.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Saad Raza</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Zohaib Ansari</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar2.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Zeeshan Tahir</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Sana Saleem</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar3.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Misbah Ahmed</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar3.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Kamran Ali</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="drive-item module text-center">
            <div class="drive-item-inner module-inner">
                <div class="drive-item-title"><a href="#">Ali haider</a></div>
                <div class="drive-item-thumb">
                    <a href="#"><img class="img-responsive" src="../assets/avatar1.png" alt=""></a>
                </div>
            </div>
            <div class="drive-item-footer module-footer">
                <ul class="utilities list-inline">
                    
                    <li><a href="#" data-toggle="tooltip" title="Profile"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Accept"><i class="glyphicon glyphicon-ok-circle"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="box-footer clearfix">

    </div>
  </div>
</div>
