    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active in" >
        <div class="container">
    <div class="col-sm-11" style="float:left;">
    <div class="hve-pro">
    <p>Hello I’m Zain Ur Rehman, a leading expert in interactive and creative design specializing in the mobile medium. 
    My graduation from Massey University with a Bachelor of Design majoring in visual communication.</p>
    </div><!--hve-pro close-->
    </div><!--col-sm-12 close-->
    <br clear="all" />
    <div class="row">
    <div class="col-md-12">
    <h4 class="pro-title">Bio Graph</h4>
    </div><!--col-md-12 close-->
    
    
    <div class="col-md-6">
    
    <div class="table-responsive responsiv-table">
      <table class="table bio-table">
          <tbody>
         <tr>      
            <td><b>Firstname</b></td>
            <td>: Zain</td> 
         </tr>
         <tr>    
            <td><b>Lastname</b></td>
            <td>: Rehman</td>       
         </tr>
         <tr>    
            <td><b>Birthday</b></td>
            <td>: 10 january 1993</td>       
        </tr>
        <tr>    
            <td><b>Contury</b></td>
            <td>: Pakistan</td>       
        </tr>
        <tr>
            <td><b>Occupation</b></td>
            <td>: Web Designer</td> 
         </tr>
    
        </tbody>
      </table>
      </div><!--table-responsive close-->
    </div><!--col-md-6 close-->
    
    <div class="col-md-6">
    
    <div class="table-responsive responsiv-table">
      <table class="table bio-table">
          <tbody>
         <tr>  
            <td><b>Emai Id</b></td>
            <td>: Zains.team00@gmail.com</td> 
         </tr>
         <tr>    
            <td><b>Mobile</b></td>
            <td>: +923122880329</td>       
         </tr>
         <tr>    
            <td><b>Phone</b></td>
            <td>: null</td>       
        </tr>
        <tr>    
            <td><b>City</b></td>
            <td>: Karachi</td>       
            </tr>    
        </tbody>
      </table>
      </div><!--table-responsive close-->
    </div><!--col-md-6 close-->
    
    </div><!--row close-->
    <div class="row">
            <div class="col-md-12">
            <h4 class="pro-title">Education</h4>
            </div><!--col-md-12 close-->
            
            
            <div class="col-md-12">
            
            <div class="table-responsive responsiv-table">
              <table class="table bio-table">
                  <tbody>
                 <tr>    
                    <td><b>Bachlor University</b></td>
                    <td>: Indus University</td>
                    <td><b>Passing year</b></td>
                    <td>: 2016</td>
                    <td><b>Grade</b></td>
                    <td>: 3.6</td>       
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                
                
    </div><!--row close-->
    <div class="row">
            <div class="col-md-12">
            <h4 class="pro-title">Experience</h4>
            </div><!--col-md-12 close-->
            
            
            <div class="col-md-12">
            
            <div class="table-responsive responsiv-table">
              <table class="table bio-table">
                  <tbody>
                 <tr>      
                    <td><b>Experience 1</b></td>
                    <td>: AMAN TECH Institute </td>
                    <td><b>Experience Time</b></td>
                    <td>: 1 Years</td>
                    <td><b>Position</b></td>
                    <td>: DEO</td>                    
                 </tr> 
                </tbody>
              </table>
              </div><!--table-responsive close-->
            </div><!--col-md-6 close-->
            
            </div><!--row close-->
            

            <div class="row">
                    <div class="col-md-12">
                    <h4 class="pro-title">Skill</h4>
                    </div><!--col-md-12 close-->
                    
                    
                    <div class="col-md-12">
                    
                    <div class="table-responsive responsiv-table">
                      <table class="table bio-table">
                          <tbody>
                         <tr>      
                            <td><b>Skill 1</b></td>
                            <td>: HTML</td>
                            <td><b>Skill Rate</b></td>
                            <td>: Expert</td>               
                         </tr>
                        </tbody>
                      </table>
                      </div><!--table-responsive close-->
                    </div><!--col-md-6 close-->
                  </div><!--row close-->
    </div><!--container close-->
  </div><!--tab-pane close-->
    