<div class="content row">
  <!-- Left col -->
  <div class="col-md-12">

<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-envelope"></i>

    <h3 class="box-title"> Post your Vacancy  </h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
              title="Remove">
        <i class="fa fa-times"></i></button>
    </div>
    <!-- /. tools -->
  </div>
  <div class="box-body">
    <form (ngSubmit)="createJob()" >
      <div class="row">
        <input type="text" class="form-control hidden" name="Email" [(ngModel)]="job.Email" >

        <div class="form-group col-lg-4">
            <label for="category">Job Category</label>
            <select class="form-control" aria-placeholder="Please Select" name="category" [(ngModel)]="job.category" >
              <option>Medical</option>
              <option>Developer</option>
              <option>Technology</option>
              <option>Accounting</option>
              <option>Other</option>
            </select>
          </div>        
          <div class="form-group col-lg-4">
              <label>Job Title</label> 
            <input type="Text" class="form-control" [(ngModel)]="job.title" name="title" />
          </div>
          <div class="form-group col-lg-4">
          <label>Job Type</label> 
          <select type="Text" class="form-control" [(ngModel)]="job.type" name="type">
              <option>Full Time</option>
              <option>Part Time</option>
              <option>Internship</option>
              </select>
            </div>
            </div>
          <div class="row">
    <div class="form-group col-lg-2">
        <label>Minimum Salary</label> 
      <input type="number" class="form-control" [(ngModel)]="job.minsalary" name="minsalary"/>
        </div>
        <div class="form-group col-lg-2">
            <label>Maximum Salary</label> 
          <input type="number" class="form-control" [(ngModel)]="job.maxsalary" name="maxsalary"/>
            </div>    
            <div class="form-group col-lg-2">
                <label>Last Date</label> 
              <input type="date" class="form-control" [(ngModel)]="job.lastdate"  name="lastdate"/>
                </div>      
                <div class="form-group col-lg-2">
                    <label>City</label> 
                  <input type="text" class="form-control" [(ngModel)]="job.city" name="City"/>
                    </div>
              </div>
    <!-- <div class="row" id="skillr">
        <div class="form-group col-lg-4">
          <label>Skill Requirements</label>
          <input type="text" class="form-control" placeholder=" Add Requirements" formControlName="skill requirement" />  
        </div>
        <div class="form-group col-lg-1">
        <br><br>
        <a ><span class="glyphicon glyphicon-plus " id="addskill1"></span></a>
        </div>
      </div> -->
      <div class="controls row"> 
          <div class="col-lg-12">
      
            <form >
            <label>Skill Requirements</label>
            <div class="form-group entry input-group col-lg-4">
              <input type="text" class="form-control" placeholder=" Add Skill" [(ngModel)]="job.skill" name="skill"/>  
              <span class="input-group-btn">
                    <button class="btn btn-success btn-add" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
              </div>            
        </form>
      
      </div>
    </div>
    
    <div class="row" id="rexp">
          <div class="form-group col-lg-4">
            <label>Experience Requirements</label>
            <input type="text" class="form-control"  placeholder=" Add Requirements" [(ngModel)]="job.experience" name="experience"/>  
          </div>
          <div class="form-group col-lg-2">
              <label>Experience Time</label>
              <input type="Number" class="form-control" [(ngModel)]="job.experiencetime" name="experiencetime"/>  
            </div>
        </div>           
    
        <div class="row">
    <div class="form-group col-lg-6">
        <label>Job Description</label> 
      <textarea type="Text" class="form-control" rows="5" [(ngModel)]="job.description"  name="description"></textarea>
    </div>

    <div class="form-group col-lg-6">
        <label>Job responsiblity</label> 
      <textarea type="Text" class="form-control" rows="5" [(ngModel)]="job.responsiblity"  name="responsiblity"></textarea>
    </div>
</div>
  <div class="box-footer clearfix">
    <div class="form-group ">
      <input type="submit" class="pull-right btn btn-primary col-lg-3" Value="Post" />
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>



<!-- <div class="container">
  <h1>
  </h1>
      <form [formGroup]="jobform" (ngSubmit)="formSubmit()" novalidate>
        <div class="row">
          <div class="form-group col-lg-4">
              <label>Job Category</label>
              <select class="form-control" aria-placeholder="Please Select" formControlName="job category" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>        
            <div class="form-group col-lg-4">
                <label>Job Title</label> 
              <input type="Text" class="form-control" formControlName="job title" />
            </div>
            <div class="form-group col-lg-4">
            <label>Job Type</label> 
            <select type="Text" class="form-control" formControlName="job type" >
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Internship</option>
                </select>
              </div>
              </div>
            <div class="row">
      <div class="form-group col-lg-2">
          <label>Minimum Salary</label> 
        <input type="number" class="form-control" formControlName="minimum salary" />
          </div>
          <div class="form-group col-lg-2">
              <label>Maximum Salary</label> 
            <input type="number" class="form-control" formControlName="maximum salary" />
              </div>    
              <div class="form-group col-lg-2">
                  <label>Last Date</label> 
                <input type="date" class="form-control" formControlName="last date" />
                  </div>      
                  <div class="form-group col-lg-2">
                      <label>City</label> 
                    <input type="text" class="form-control" formControlName="city" />
                      </div>
                </div>
      <div class="row">
          <div class="form-group col-lg-4">
              <label for="sel1">Email Address</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>
      </div> -->
      <!-- <div class="row" id="skillr">
          <div class="form-group col-lg-4">
            <label>Skill Requirements</label>
            <input type="text" class="form-control" placeholder=" Add Requirements" formControlName="skill requirement" />  
          </div>
          <div class="form-group col-lg-1">
          <br><br>
          <a ><span class="glyphicon glyphicon-plus " id="addskill1"></span></a>
          </div>
        </div> -->
        <!-- <div class="controls row"> 
            <div class="col-lg-12">
          <form >
              <label>Skill Requirements</label>
              <div class="form-group entry input-group col-lg-4">
                <input type="text" class="form-control" placeholder=" Add Requirements" formControlName="skill requirement" />  
                <span class="input-group-btn">
                      <button class="btn btn-success btn-add" type="button">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                  </span>
                </div>
                
          </form>
        </div>
      </div>
        <div class="row" id="rexp">
            <div class="form-group col-lg-4">
              <label>Experience Requirements</label>
              <input type="text" class="form-control"  placeholder=" Add Requirements" formControlName="exprequirement" />  
            </div>
            <div class="form-group col-lg-2">
                <label>Experience Time</label>
                <input type="Number" class="form-control" />  
              </div>
            <div class="form-group col-lg-1">
            <br><br>
            <a><span class="glyphicon glyphicon-plus " id="addrexp"></span></a>
            </div>
          </div>           
      <div class="row">
      <div class="form-group col-lg-6">
          <label>Job Description</label> 
        <textarea type="Text" class="form-control" rows="5" formControlName="job description"  ></textarea>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-lg-4">
          <label>Upload Poster</label> 
        <input type="file" class="form-control" formControlName="job poster" />
      </div>
    </div>
    <div class="form-group ">
        <input type="submit" class="btn btn-primary col-lg-3" Value="Post"/>
      </div>
  </form>
    </div>  -->